<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/BackButtonActionBar"
        tools:targetApi="31">
        <activity
            android:name=".Instructor.DetailBooking"
            android:exported="false" />
        <activity
            android:name=".AboutMe"
            android:exported="false" />
        <activity
            android:name=".BookByUser"
            android:exported="false" />
        <activity
            android:name=".CommonInterface"
            android:exported="false" />
        <activity
            android:name=".Payment"
            android:exported="false" />
        <activity
            android:name=".Instructor.ListOfActivityAccepted"
            android:exported="false" />
        <activity
            android:name=".Admin.ListOfInstructor"
            android:exported="false" />
        <activity
            android:name=".AdminHome"
            android:exported="false" />
        <activity
            android:name=".Admin.ActivityStatus"
            android:exported="false" />
        <activity
            android:name=".About.About3"
            android:exported="false" />
        <activity
            android:name=".About.About2"
            android:exported="false" />
        <activity
            android:name=".About.About1"
            android:exported="false" />
        <activity
            android:name=".CustomerBook"
            android:exported="false" />
        <activity
            android:name=".Admin.AddInstructor"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".getActivity.ActivityDetail"
            android:exported="false" />
        <activity
            android:name=".Booking"
            android:exported="false" />
        <activity
            android:name=".Admin.InsertActivity.AddActivity"
            android:exported="false" />
        <activity
            android:name=".Map"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Account"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Instructor.LoginInstructor"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false"
            android:theme="@style/MyThemeNoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAsd1nXaycl5YK9WevhL6srd1T_cuhAo5o" />
    </application>

</manifest>